*{
    margin:10px;
    padding:10px;   
}

body{
    display:flex;
    flex-flow: column nowrap;
    
    
}
/*Header*/
header *{
    margin:5px;
    padding:0;
}
.header{
    
    display:flex;
    flex-flow:column nowrap;
    background-image:url(../img/capçalera.jpg);
    background-position:center;
    background-size:cover;
    margin:0;
    padding:0;
    
    
}
    .header-item1{
        display:flex;
        justify-content:space-evenly;
        
        
    }
    
    .nav1{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-grow:1;
        

    }
        .nav1 img{
            height:50px;
        }
    .nav2{
        display:flex;
        align-items:center;
        flex-grow:4;
        
    }

    .nav3{
        display:flex;
        flex-direction:column;
        align-items:center;
        flex-grow:1;
        

    }
    .h1{
        display:flex;
        justify-content:center;
        /*Con el valor del final de rgb cambiamos la opacidad*/
        color:rgb(233, 85, 109,0.5);
        background-color:rgb(0,0,0,0.1)
        
    }
    a{
        text-decoration:none;
        color:grey;
        font-size:14px;
    }
    a:hover{
        color:black;

    }
/*Section*/
section{
    display:flex;
    background:grey;

}
section *{
    margin:2px;
    
}
article *{
    padding:0
}
article{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-basis:70%;
    flex-grow:2;
    background: rgb(182, 176, 176);

}
    
    .article{
        
        flex-grow:1;
        flex-basis:40%;
        
    }
        h3{
            margin-top:-30px;
            color:white;
            
            
        }
        h2{
            
            text-transform: uppercase;
            color:white;
            background-color: rgb(241, 52, 83);
            width:100%;
            
        }
        .article img{
            width:100%;
            
            background-color: pink;
            
        }
    
    .articleinfo{
        background:lightblue;
        flex-basis: 100%;
    }

aside{
    display:flex;
    flex-direction:column;
    flex-basis:30%;
    flex-grow:1;
    background:orange;
}
    .aside1{
        background:pink;

    }
    .aside2{
        background:pink;
    }

/*Footer*/
footer{
    
    background:black;
    
    
}
footer *{
    margin:0;
    padding:0;
}
    .copyright{
        display:flex;
        justify-content: center;
    }
    .copyright p{
        
        color:white;
    }

/*Media queries*/

@media (max-width:800px){
    section{
        background:yellow;
        flex-direction:column;
    }

}
@media (max-width:560px){
    .article{
        flex-basis:30%
    }
   
}